* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Manrope", serif;
}

p {
    white-space: pre-line;
}

.responsive-width {
    width: calc(100% + 78px);
}

@media (max-width: 640px) {
    .responsive-width {
        width: calc(100% + 48px);
    }
}